<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"></meta>
		<title>登録ページ</title>
	</head>
	<body>
		<div>
			<form method="post" action="/create" th:object="${insertForm}">
				<p>新規作成</p>
				<input type="text" name="name" size="50" placeholder="名前"></input>
				<input type="text" name="age" size="50" placeholder="年齢"></input>
				<input type="submit" value="作成"></input>
			</form>
		</div>
		<div>
			<form method="post" action="/update" th:object="${updateForm}">
				<p>更新</p>
				<input type="text" name="id" size="50" placeholder="ID"></input>
				<input type="text" name="name" size="50" placeholder="名前"></input>
				<input type="text" name="age" size="50" placeholder="年齢"></input>
				<input type="submit" value="更新"></input>
			</form>
		</div>
		<div>
			<form method="post" action="/delete" th:object="${deleteForm}">
				<p>削除</p>
				<input type="text" name="id" size="50" placeholder="ID"></input>
				<input type="submit" value="削除"></input>
			</form>
		</div>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>名前</th>
					<th>年齢</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="people:${person}">
					<td th:text="${person.Id}"></td>
					<td th:text="${person.Name}"></td>
					<td th:text="${person.Age}"></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>